.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
   width: 15px;
   height: 15px;
   background: #000000;
   border-radius: 50%;
   cursor: pointer;
 }

.resultContainer {
	background-color: blue;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 25px;
    width: 50px;

}

.resultContainer #result {
	word-wrap: break-word;
    max-width: calc(100% - 10px);
    

}

.resultContainer .btn {
	font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
}

.btn {
	border: block;
    color: yellow;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 12px;
    background-color: white;

}
